<!-- Post List Template -->
<main class="posts-list fade-in">
  <% data.posts.forEach(function(post) { %>
    <% if(!post.draft) { %>
      <article class="post">
        <h2 class="post-title">
          <a href="<%= post.permalink %>"><%= post.title %></a>
        </h2>
        <time class="post-date"><%= post.date %></time>

        <% if(post.image) { %>
          <div class="post-image">
            <img src="<%= post.image %>" alt="<%= post.title %>" style="max-width:200px; max-height:200px;">
          </div>
        <% } %>

        <div class="post-content">
          <% if(post.excerpt) { %>
            <p><%= post.excerpt %></p>
          <% } %>
        </div>
      </article>
    <% } %>
  <% }) %>
</main>
<aside>
  <input type="search" id="search" data-type="posts" placeholder="Search for Post..."/>
  <hr/>

  <% data.getTags().forEach(function(tag) { %>
    <a href="<%= tag.url %>" class="post-tag"><%= tag.name %> (<%= tag.count %>)</a>
  <% }) %>
</aside>
