<IfModule mod_rewrite.c>
	Options Indexes SymLinksIfOwnerMatch
	RewriteEngine On

	# Set this line to the value of config.webpath
	RewriteBase /

    ## Uncomment to enforce www. subdomain redirect for site
	# RewriteCond %{HTTP_HOST} !^www\.
    # RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

	# Sitemap
	RewriteCond %{REQUEST_URI} ^/sitemap\.xml
	RewriteRule ^(.*) /cgi-bin/sitemap.py [L]

	# Meta Feed
	RewriteCond %{REQUEST_URI} ^/meta\.json
	RewriteRule ^(.*) /cgi-bin/meta.py [L]

    # Catch empty URLs (otherwise they get picked up by index.html)
	RewriteCond %{REQUEST_URI} ^/$
	RewriteRule ^(.*) /cgi-bin/crawler.py [L]

	# Required for path translation,
	# will resolve /posts/blah.html to the application index
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteRule ^(.*) /cgi-bin/crawler.py?page=%{REQUEST_URI} [L]
	# Use the following Rule instead to disable server-side processing, (will have negative effects on SEO)
	# RewriteRule ^(.*) index.html?path=%{REQUEST_URI} [L]

</IfModule>
