<IfModule mod_rewrite.c>
	Options Indexes FollowSymLinks SymLinksIfOwnerMatch
	RewriteEngine On

	# Set this line to the value of config.webpath
	RewriteBase /

	# Required for SEO and crawler access to the source content of the various pages.
	# will redirect the request to the source file so content can be provided
	RewriteCond %{HTTP_USER_AGENT} ^.*(craftbot|download|extract|stripper|sucker|ninja|clshttp|webspider|leacher|collector|grabber|webpictures|curl|GoogleBot|bingbot|linkedinbot|mediapartners-google|GoogleImageProxy|ysearch/slurp|Baiduspider).*$ [NC]
	RewriteCond %{REQUEST_URI} /[a-z_0-9]+/.+\.html
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteRule ([a-z_0-9]+)/(.+)\.html $1/$2.md [L]

	# Required for path translation,
	# will resolve /posts/blah.html to the application index
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteRule ^(.*) index.html?path=%{REQUEST_URI}
</IfModule>